body{
    background-color: aquamarine;
}
h1{
    color: blue;
}
img{
    border-radius: 60px;
    border:
}
form{
    text-align: center;
    border: solid red ;
}
p{
    text-align: center;
}